<%- include ('../partial/header') %>
        <!-- Sing in  Form -->
        <section class="sign-in main">
            <div class="container">
			<div>
			 <div>
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="frontend/images/signin-image.jpg" alt="sing up image"></figure>

                    </div>
					</div>
					</div>
				<div>
                    <div class="signin-form">
                        <h2 class="form-title">Select account to proceed</h2>
        <a  class="btn btn-primary" href="/register" >Reader</a>
        <a class="btn btn-primary" href="/creative" >Creative</a>                 
                    </div>
                </div>
				</div>
        </section>

<%- include ('../partial/footer') %>
